# Nagios client host Details

define host{
        host_name               {{ nagios_client_hostname }}
        alias                   nagios-register-client
        address                 {{ nagios_clientip_address }}
        display_name            {{ nagios_client_hostname }}
        max_check_attempts      2                       ;Check each server 2 times (max)
        active_checks_enabled   1
        passive_checks_enabled  1
        event_handler_enabled   1
        notifications_enabled   1
        contacts                Nagios Admin
        notification_period     24x7                    ; Send notification out at any time - day or night
        notification_interval   30                      ; Resend notifications every 30 minutes
        notification_options    d,u,r
        check_command           check-host-alive        ;Default command to check if servers are "alive"
        }
define service{
        use                             local-service         ; Name of service template to use
        host_name                       {{ nagios_client_hostname }}
        service_description             PING
        check_command                   check_ping!100.0,20%!500.0,60%
        }
define service{
        use                             local-service         ; Name of service template to use
        host_name                       {{ nagios_client_hostname }}
        service_description             Root Partition
        check_command                   check_local_disk!20%!10%!/
        }
define service{
        use                             local-service         ; Name of service template to use
        host_name                       {{ nagios_client_hostname }}
        service_description             Current Users
        check_command                   check_local_users!20!50
        }
define service{
        use                             local-service         ; Name of service template to use
        host_name                       {{ nagios_client_hostname }}
        service_description             Total Processes
        check_command                   check_local_procs!250!400!RSZDT
        }
define service{
        use                             local-service         ; Name of service template to use
        host_name                       {{ nagios_client_hostname }}
        service_description             Current Load
        check_command                   check_local_load!5.0,4.0,3.0!10.0,6.0,4.0
        }
define service{
        use                             local-service         ; Name of service template to use
        host_name                       {{ nagios_client_hostname }}
        service_description             Swap Usage
        check_command                   check_local_swap!20!10
        }
define service{
        use                             local-service         ; Name of service template to use
        host_name                       {{ nagios_client_hostname }}
        service_description             SSH
        check_command                   check_ssh
        notifications_enabled           1
        }